.layout {
  min-height: 100vh;
  position: relative;
}

.mainContent {
  margin-left: var(--sidebar-width);
  margin-right: var(--social-bar-width);
  min-height: 100vh;
}

/* Responsive */
@media (max-width: 1023px) {
  .mainContent {
    margin-left: 0;
    margin-right: 0;
  }
}
